extends layout

block content
  .row
      .large-12.columns 
          .row
            .large-12
              #featured(data-orbit='data-orbit')
                img(src='http://placehold.it/1200x500&text=Slide Image 1', alt='slide image')
                img(src='http://placehold.it/1200x500&text=Slide Image 2', alt='slide image')
                img(src='http://placehold.it/1200x500&text=Slide Image 3', alt='slide image')

          .large-12.columns
            .row
              .large-4.small-6.columns.simpleCart_shelfItem
                a.item_add(href='javascript:;') 
                  img.item_image(src='http://placehold.it/500x500&text=Thumbnail')
                .panel
                  h5.item_name Item Name 1
                  select.item_size
                    option(value='Small')  Small 
                    option(value='Medium')  Medium 
                    option(value='Large')  Large 
                  h4.subheader.item_price $24.00
                  input.item_Quantity(type='text', value='1')
                  a.item_add(href='javascript:;') Buy

              .large-4.small-6.columns.simpleCart_shelfItem
                a.item_add(href='javascript:;') 
                  img.item_image(src='http://placehold.it/500x500&text=Thumbnail')
                .panel
                  h5.item_name Item Name 2
                  select.item_size
                    option(value='Small')  Small 
                    option(value='Medium')  Medium 
                    option(value='Large')  Large 
                  h4.subheader.item_price $124.00
                  input.item_Quantity(type='text', value='1')
                  a.item_add(href='javascript:;') Buy

              .large-4.small-6.columns.simpleCart_shelfItem
                a.item_add(href='javascript:;') 
                  img.item_image(src='http://placehold.it/500x500&text=Thumbnail')
                .panel
                  h5.item_name Item Name 3
                  select.item_size
                    option(value='Small')  Small 
                    option(value='Medium')  Medium 
                    option(value='Large')  Large 

                  h4.subheader.item_price $900.00
                  input.item_Quantity(type='text', value='1')
                  a.item_add(href='javascript:;') Buy

              .large-4.small-6.columns.simpleCart_shelfItem
                a.item_add(href='javascript:;') 
                  img.item_image(src='http://placehold.it/500x500&text=Thumbnail')
                .panel
                  h5.item_name Item Name 4
                  select.item_size
                    option(value='Small')  Small 
                    option(value='Medium')  Medium 
                    option(value='Large')  Large 
                  h4.subheader.item_price $224.00
                  input.item_Quantity(type='text', value='1')
                  a.item_add(href='javascript:;') Buy

              .large-4.small-6.columns.simpleCart_shelfItem
                a.item_add(href='javascript:;') 
                  img.item_image(src='http://placehold.it/500x500&text=Thumbnail')
                .panel
                  h5.item_name Item Name 5
                  select.item_size
                    option(value='Small')  Small 
                    option(value='Medium')  Medium 
                    option(value='Large')  Large 
                  h4.subheader.item_price $500.00
                  input.item_Quantity(type='text', value='1')
                  a.item_add(href='javascript:;') Buy

              .large-4.small-6.columns.simpleCart_shelfItem
                a.item_add(href='javascript:;') 
                  img.item_image(src='http://placehold.it/500x500&text=Thumbnail')
                .panel
                  h5.item_name Item Name 6
                  select.item_size
                    option(value='Small')  Small 
                    option(value='Medium')  Medium 
                    option(value='Large')  Large 
                  h4.subheader.item_price $4.00
                  input.item_Quantity(type='text', value='1')
                  a.item_add(href='javascript:;') Buy

