extends layout

block content
  .row
    .large-12.columns 
      h1 Login
      form
        .row
          .large-4.columns
            label 
              h6 Email:
            input(type='text')
            label 
              h6 Password:
            input(type='text')
            a.small.button.radius(href='#') Login


